<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= typeof title !=='undefined' ? title : 'Open Social Data' %>
    </title>
    <meta name="author" content="Tomus">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <%- typeof stylesheets !=='undefined' ? stylesheets : '' %>
</head>

<body class="bg-gray-50">
    <div class="h-screen flex flex-col fixed inset-0">
        <!-- Header -->
        <header class="bg-white shadow px-4 py-3 flex justify-between items-center">

            <!-- Logo section -->
            <div class="flex items-center">
                <a href="/user/profile" class="block">
                    <img class="h-10 w-auto" src="/img/Transiscope_connect.png" alt="open-social-data">
                </a>
            </div>

            <!-- Auth section -->
            <div class="flex items-center">
                <% if(typeof user !=='undefined' && user) { %>
                    <div class="flex items-center gap-4">
                        <span class="text-gray-700"><%= user.name || 'Utilisateur' %></span>
                        <a href="/logout" class="px-4 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-50">Se déconnecter</a>
                    </div>
                <% } else { %>
                    <div class="flex items-center gap-4">
                        <a href="/login" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">Connexion</a>
                    </div>
                <% } %>
            </div>
        </header>

        <main class="flex-1 overflow-y-auto container mx-auto px-4 py-8">
            <% if (typeof error_auth !=='undefined' && error_auth) { %>
                <div class="bg-red-50 border border-red-400 text-red-700 px-4 py-3 rounded relative">
                    <p>Erreur de connexion</p>
                    <p><%= error_auth %>.</p>
                </div>
                <a href="/login" class="mt-4 inline-block px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">Re-essayer</a>
                <% } else if (typeof error !=='undefined' && error) { %>
                    <div class="error-message">
                        <p>Erreur</p>
                        <p><%= error %></p>
                    </div>
                    <% } else { %>
                        <%- body %>
                            <% } %>
        </main>

        <!-- Footer -->
        <footer class="bg-gray-200 py-4">
            <div class="flex justify-center space-x-4">
                <a href="/privacy" class="nav-link">Politique de confidentialité</a>
                <hr class="my-2 w-px bg-gray-400">
                <a href="/about" class="nav-link">À propos</a>
            </div>
        </footer>
    </div>

    <!-- Notification System -->
    <div id="notification" class="fixed bottom-4 right-4 bg-green-500 text-white px-4 py-2 rounded shadow-lg transition-opacity duration-300 opacity-0"></div>

    <script>
        function showNotification(message, type = 'success') {
            const notification = document.getElementById('notification');
            notification.textContent = message;
            
            // Set color based on type
            if (type === 'error') {
                notification.classList.remove('bg-green-500');
                notification.classList.add('bg-red-500');
            } else {
                notification.classList.remove('bg-red-500');
                notification.classList.add('bg-green-500');
            }
            
            // Show notification
            requestAnimationFrame(() => {
                notification.style.opacity = '1';
            });
            
            // Hide after 1.5s
            setTimeout(() => {
                notification.style.opacity = '0';
            }, 1500);
        }
    </script>
    <%- typeof scripts !=='undefined' ? scripts : '' %>
</body>

</html>