<%- contentFor('body') %>
<div class="card">
    <form action="/user/api" method="POST">
        <input type="hidden" name="id" value="<%= typeof api !== 'undefined' ? api._id : '' %>"/>
        
        <div class="form-group">
            <label for="name" class="form-label">Nom de l'API (obligatoire) :</label>
            <input type="text" 
                   id="name" 
                   name="name" 
                   required 
                   class="form-input"
                   placeholder="Entrez le nom de l'API"
                   value="<%= typeof api !== 'undefined' ? api.name : '' %>"/>
        </div>

        <div class="form-group">
            <label class="form-label">Sélectionnez les applications à inclure :</label>
            <div class="app-selection">
                <% providers.forEach(function(provider) { %>
                    <div class="form-check">
                        <input class="form-check-input" 
                               type="checkbox" 
                               name="selectedProviders[]" 
                               value="<%= provider._id %>" 
                               id="<%= provider._id %>"
                               <% if (typeof api !== 'undefined' && api.selectedProviders && api.selectedProviders.includes(provider._id.toString())) { %>checked<% } %>>
                        <label class="form-check-label">
                            <%= provider.name %>
                        </label>
                    </div>
                <% }); %>
            </div>
        </div>

        <div class="flex space-x-4">
            <button type="submit" class="btn-primary">Sauvegarder</button>
            <a href="/user/profile" class="btn-primary">Retour</a>
        </div>
    </form>
</div>

<%- contentFor('title') %>
Créer une API

<%- contentFor('stylesheets') %> 