<%- contentFor('body') %>
<div class="card">
    <h1 class="page-title"><%= message %></h1>
    <h2 class="section-title">Erreur <%= error.status %></h2>
    <pre class="bg-gray-100 p-4 rounded-md overflow-auto"><%= error.stack %></pre>
    <div class="mt-6">
        <a href="/user/profile" class="btn-primary">Retour au profil</a>
    </div>
</div>

<%- contentFor('title') %>
Erreur

<%- contentFor('stylesheets') %>
