<%- contentFor('body') %>
<div class="card">
     <form action="/providers/ics" method="post" encType="multipart/form-data">
        <input type="hidden" name="id" value="<%= typeof provider !== 'undefined' ? provider._id : '' %>"/>
        <div class="form-group">
            <label for="name" class="form-label">nom de votre source de données (obligatoire):</label>
            <input type="text" id="name" name="name" required class="form-input" value="<%= typeof provider !== 'undefined' ? provider.name : '' %>"/>
        </div>
        <div class="form-group">
            <label for="icsFile" class="form-label">Fichier à importer :</label>
            <input type="file" id="icsFile" name="icsFile" accept=".ics" required 
                   class="form-input"/>
        </div>
        <div class="flex space-x-4">
            <button type="submit" class="btn-primary">Sauvegarder</button>
            <a href="/user/profile" class="btn-primary">Retour</a>
        </div>
    </form>
</div>

<%- contentFor('title') %>
Ajouter un fichier ICS

<%- contentFor('stylesheets') %>
