<%- contentFor('body') %>
<div class="card">
    <form action="/providers/icsUrl" method="post">
        <input type="hidden" name="id" value="<%= typeof provider !== 'undefined' ? provider._id : '' %>"/>
        <div class="form-group">
            <label for="name" class="form-label">nom de votre source de données (obligatoire):</label>
            <input type="text" id="name" name="name" required class="form-input" value="<%= typeof provider !== 'undefined' ? provider.name : '' %>"/>
        </div>
        <div class="form-group">
            <label for="icsUrl" class="form-label">URL du lien :</label>
            <input type="url" id="icsUrl" name="icsUrl" required class="form-input" value="<%= typeof provider !== 'undefined' ? provider.url : ''  %>"/>
        </div>
        <div class="flex space-x-4">
            <button type="submit" class="btn-primary">Sauvegarder</button>
            <a href="/user/profile" class="btn-primary">Retour</a>
        </div>
    </form>
</div>

<%- contentFor('title') %>
Ajouter un lien ICS

<%- contentFor('stylesheets') %>