<%- contentFor('body') %>

    <div class="min-h-screen">
        <nav class="nav-bar">
            <div class="container">
                <div class="nav-content">
                    <a href="/user/profile" class="flex-shrink-0">
                        <img class="nav-logo" src="/img/Transiscope_connect.png" alt="open-social-data">
                    </a>
                </div>
            </div>
        </nav>

        <main class="main-content">
            <%- contentFor('body') %>
                <div class="card">
                    <h1 class="page-title">Exploiter vos évènements venant de différentes applications</h1>
                    <% if (!error) { %>
                        <p class="text-gray-600">
                            <% if (user) { %>
                                Bonjour, <%= user.displayName %>.
                                    <a href="/user/profile">Cliquez ici</a> pour consulter les données récupérées de vos
                                    pages.
                                    <% } %>
                        </p>
                        <% } %>
                </div>
        </main>
    </div>


<%- contentFor('title') %>
    Open Social Data

<%- contentFor('stylesheets') %>