<%- contentFor('body') %>
<div class="card">
    <form action="/providers/mobilizon" method="post">
        <input type="hidden" name="id" value="<%= typeof provider !== 'undefined' ? provider._id : '' %>"/>
        <div class="form-group">
            <label for="name" class="form-label">nom de votre source de données (obligatoire):</label>
            <input type="text" id="name" name="name" required class="form-input" value="<%= typeof provider !== 'undefined' ? provider.name : '' %>"/>
        </div>
        <div class="form-group">
            <label for="providerUrl" class="form-label">URL de l'instance (obligatoire) :</label>
            <input type="url" id="providerUrl" name="providerUrl" required class="form-input" value="<%= typeof provider !== 'undefined' ? provider.url : 'https://mobilizon.fr' %>"/>
        </div>

        <div class="form-group">
            <label for="group" class="form-label">Identifiant du groupe pour lequel vous souhaitez partager vos événements :</label>
            <input type="text" id="group" name="group" required class="form-input" value="<%= typeof provider !== 'undefined' ? provider.group : ''  %>"/>
        </div>

        <div class="form-group">
            <label class="flex items-center space-x-2">
                <input type="checkbox" name="secured" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                <span class="text-sm text-gray-700">Voulez-vous vous authentifier sur ce serveur (dans le cas contraire seuls les évènements publics seront récupérés) ?</span>
            </label>
        </div>

        <div class="flex space-x-4">
            <button type="submit" class="btn-primary">Sauvegarder</button>
            <a href="/user/profile" class="btn-primary">Retour</a>
        </div>
    </form>
</div>

<%- contentFor('title') %>
Ajouter une instance Mobilizon

<%- contentFor('stylesheets') %>
