<%- contentFor('body') %>
<div class="card">
    <h1 class="page-title">Politique de confidentialité</h1>
    <div class="space-y-4 text-gray-600">
        <p>
            Open Social Data est une application qui permet de rendre les évènements des pages Facebook accessible par api publique open-data.
        </p>
        <p>
            Open Social Data est géré par Transiscope.
        </p>
        <p>
            Transiscope décline toute responsabilité sur l'usage des données que vous rendrez accessible par API publique.
        </p>
        <p>
            Aucune donnée personnelle n'est conservée par Open Social Data ni Transiscope. La seule information conservée est le token de sécurité fourni par facebook afin de pouvoir le réutiliser pour obtenir les données de la plateforme au moment où il est nécessaire de les récupérer pour les fournir à l'interface web ou une API publique.
        </p>
    </div>
    <div class="mt-6">
        <a href="/user/profile" class="btn-primary">Retour au profil</a>
    </div>
</div>

<%- contentFor('title') %>
Politique de confidentialité
