<%- contentFor('body') %>
    <!-- Profile Section -->
    <!-- <h1 class="text-2xl font-bold text-gray-900 mb-6">Vos données partagées</h1> -->

    <!-- Alerts -->
    <% if(errorAuth){ %>
        <div class="error-message">
            Impossible de s'authentifier sur le serveur <%= errorAuth %>.
        </div>
<% } %>
<% if(errorMobilizon){ %>
<div class="error-message">
Impossible de récupérer des données d'événements Mobilizon depuis l'URL <%= errorMobilizon %>.
</div>
<% } %>
<% if(errorIcs){ %>
<div class="error-message">
Impossible d'importer vos événements via un fichier ICS : <%= errorIcs %>.
</div>
<% } %>
<% if(deleteSuccess) { %>
<div class="success-message">
Ressource <%= deleteSuccess %> bien supprimée.
</div>
<% } %>

<!-- Main Content Grid -->
<div class="flex gap-12" style="gap: 3rem;">
    <!-- Left Column - Sources -->
    <div class="bg-white shadow rounded-lg p-6 flex-1">
        <div class="mb-6">
            <h1 class="text-xl font-semibold text-gray-800 mb-3">Sources
            </h1>
        </div>

            
        <div class="flex space-x-4">
            <div class="rounded-full bg-green-500 p-3 w-10 h-10 flex items-center justify-center">
                <i class="text-white fas fa-plus text-xl">+</i>
            </div>
            <a href="/providers/mobilizon" class="btn-primary">Mobilizon</a>
            <a href="/providers/ics" class="btn-primary">Fichier ICS</a>
            <a href="/providers/icsUrl" class="btn-primary">Lien ICS</a>
        </div>


        <!-- Resources Table -->
        <div class="mb-6">

            <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="w-1/3 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Nom
                            </th>
                            <th scope="col"
                                class="w-1/3 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Type
                            </th>
                            <th scope="col"
                                class="w-1/3 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <% providers.forEach(function(provider){ %>
                            <tr
                                class="hover:bg-gray-50 transition-colors duration-200">
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <%= provider.name %>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <%= provider.type %>
                                </td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm">
                                    <div class="flex space-x-4">
                                        <a href="apps/<%= provider._id %>"
                                            class="text-indigo-600 hover:text-indigo-900 font-medium">
                                            Voir
                                        </a>
                                        <a href="apps/<%= provider._id %>/edit"
                                            class="text-indigo-600 hover:text-indigo-900 font-medium">
                                            Modifier
                                        </a>
                                        <a href="apps/<%= provider._id %>/delete"
                                            class="text-red-600 hover:text-red-900 font-medium">
                                            Supprimer
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Right Column - APIs -->
    <div class="bg-white shadow rounded-lg p-6 flex-1">
        <div class="mb-6">
            <h1 class="text-xl font-semibold text-gray-800 mb-3">APIs
            </h1>
        </div>
        <div class="flex space-x-4">
            <div class="rounded-full bg-green-500 p-3 w-10 h-10 flex items-center justify-center">
                <i class="text-white fas fa-plus text-xl">+</i>
            </div>
            <a href="/user/api/create" class="btn-primary">API</a>
        </div>

        <!-- API List Table -->
        <div class="mb-6">
           
            <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="w-1/3 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Nom
                            </th>
                            <th scope="col"
                                class="w-1/3 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Sources
                            </th>
                            <th scope="col"
                                class="w-1/3 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <% apis.forEach(function(api){ %>
                            <tr
                                class="hover:bg-gray-50 transition-colors duration-200">
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <%= api.name %>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm">
                                    <% api.selectedProviders.forEach(function(provider){
                                        %>
                                        <div>
                                            <%= provider.name %>
                                        </div>
                                        <% }); %>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm">
                                    <div class="flex space-x-4">
                                        <a href="/events/<%= api._id %>"
                                            class="text-indigo-600 hover:text-indigo-900 font-medium">
                                            API
                                        </a>
                                        <a href="/user/api/<%= api._id %>/edit"
                                            class="text-indigo-600 hover:text-indigo-900 font-medium">
                                            Modifier
                                        </a>
                                        <a href="/user/api/<%= api._id %>/delete"
                                            class="text-red-600 hover:text-red-900 font-medium">
                                            Supprimer
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<%- contentFor('title') %>
Mon profil

<%- contentFor('stylesheets') %>
<link href="/css/profile.css" rel="stylesheet">

<%- contentFor('scripts') %>
    <script>
        function copyToken() {
            const token = "<%= token %>";

            navigator.clipboard.writeText(token)
                .then(() => {
                    showNotification('Token copié !');
                })
                .catch(err => {
                    console.error('Erreur lors de la copie du token: ', err);
                    showNotification('Erreur lors de la copie du token', 'error');
                });
        }
    </script>