<%- contentFor('body') %>

<div class="max-w-4xl mx-auto">
    <h1 class="text-3xl font-bold text-gray-800 mb-8">
        Les évènements venant
        <% if(type === 'Mobilizon') { %>
            du serveur Mobilizon <span class="text-blue-600"><%= providerUrl %></span> pour le groupe <span class="text-blue-600"><%= group %></span>
        <% } else if(type === 'Fichier ICS') { %>
            du fichier ICS <span class="text-blue-600"><%= providerUrl %></span>
        <% } else  { %>
            de l'URL ICS <span class="text-blue-600"><%= providerUrl %></span>
        <% } %>
    </h1>

    <div class="space-y-6">
        <% events.forEach(function(event){ %>
            <% if(event) { %>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-2xl font-semibold text-gray-700 mb-4">
                        <% if(event.url) { %>
                            <a href="<%= event.url %>" class="hover:text-blue-600 transition-colors">
                        <% } %>
                        <%= event.name %>
                        <% if(event.url) { %>
                            </a>
                        <% } %>
                    </h2>
                    
                    <div class="space-y-2">
                        <% if(event.location) { %>
                            <% if(event.location.addressLocality) { %>
                                <p class="text-gray-600">Lieu : <%= event.location.streetAddress %> <%= event.location.addressLocality %>.</p>
                            <% } else { %>
                                <p class="text-gray-600">Lieu : <%= event.location %>.</p>
                            <% } %>
                        <% } %>
                        <% if(event.startDate) { %>
                            <p class="text-gray-600">Du <%= event.startDate %> au <%= event.endDate %>.</p>
                        <% } else { %>
                            <p class="text-gray-600">A partir du <%= event.startDate %>.</p>
                        <% } %>
                        <p class="text-gray-600"> <%- event.description %></p>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </div>
</div>