@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Buttons */
  .btn-primary {
    @apply bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition-colors;
  }

  /* Error Messages */
  .error-message {
    @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4;
  }

  .nav-link {
    @apply text-gray-600 hover:text-gray-800 transition-colors;
  }

  /* Form Inputs */
  .form-input {
    @apply bg-white border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }
}
